<div id="<%= dom_id menu %>">
  <p>
    <strong>Name:</strong>
    <%= menu.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= menu.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= menu.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <ul>
      <% menu.categories.each do |category| %>
        <li><%= category.name %></li>
      <% end %>
    </ul>
  </p>

</div>
