<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :customer_email, style: "display: block" %>
    <%= form.text_field :customer_email %>
  </div>

  <div>
    <%= form.label :order_date, style: "display: block" %>
    <small style="display: block;">Example: 2022-01-19 (yyyy-mm-dd)</small>
    <%= form.text_field :order_date %>
  </div>

  <div class="mt-3 mb-3">
    <p style="margin: 3px;">Status:</p>
    <%= form.select :status, ["NEW", "PAID", "CANCELED"], selected: order.status %>
  </div>

  <!--  current_ordered_menus -> menus that has been ordered by a customer  -->
  <p style="margin: 3px;">Menus:</p>
  <% current_ordered_menus = []%>
  <% if order.menus %>
    <% order.menus.each do |menu| %>
      <% current_ordered_menus.append(menu.name)%>
    <% end %>
  <% end %>

  <% i = 0 %>
  <% menus.each do |menu| %>
    <% if current_ordered_menus.include?(menu.name) %>
      <div>
        <%= check_box_tag("order[menus][]", menu.id,{checked: true},:onclick=>"showInputQuantity(#{menu.id}, '#{menu.name}')", :id =>menu.id) %>
        <%= label_tag(menu.name, menu.name,:id=> "label-#{menu.id}") %>
        <input type="number" name="order[quantities][]" id=<%= "quantity-#{menu.id}" %> value=<%="#{order.order_details[i]["quantity"]}"%> style="display: block;">
        <% i+=1 %>
      </div>
    <% else %>
      <%# false == checked %>
      <div>
        <%= check_box_tag("order[menus][]", menu.id,false, :onclick=>"showInputQuantity(#{menu.id}, '#{menu.name}')", :id => menu.id) %>
        <%= label_tag(menu.name, menu.name, :id=> "label-#{menu.id}") %>
      </div>
    <% end %>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<script>
  function showInputQuantity(checkBoxId, menuName) {
    var checkBox = document.getElementById(`${checkBoxId}`);
      if (checkBox.checked == true){
        var input = document.createElement("input");
        input.type = "number";
        input.name = "order[quantities][]"
        input.id = "quantity-" + checkBoxId
        input.placeholder = "quantity of " + menuName
        input.style.display = "block"
        // Custom Method
        Element.prototype.insertAfter = function(newElement) {
            this.parentNode.insertBefore(newElement, this.nextSibling);
        }
        document.getElementById(`label-${checkBoxId}`).insertAfter(input)
      } else {
        document.getElementById(`quantity-${checkBoxId}`).remove()
      }
  }
</script>
