<div class="container">
  <p style="color: green"><%= notice %></p>
  <!-- <h1>Orders on <%= params[:todays_date] %></h1> -->
  <h1>Orders Daily Report</h1>

  <div id="orders">
    <% @orders.each do |order| %>
      <%= render order %>
      <p>
        <%= link_to "Show this order", order %>
      </p>
      <hr>
    <% end %>
  </div>
  
  <%= link_to "Back to orders", orders_path %>
</div>
