<div class="container">
  <p style="color: green"><%= notice %></p>
  <h1>Orders</h1>

  <a class="btn btn-primary my-3" href=<%="/orders/daily-report?todays_date=#{Date.today}"%>>Daily Report</a>
  <a class="btn btn-primary my-3" href="/categories">Categories</a>
  <a class="btn btn-primary my-3" href="/menus">Menus</a>
    

  <div id="orders">
    <% @orders.each do |order| %>
      <%= render order %>
      <p>
        <%= link_to "Show this order", order %>
      </p>
      <hr>
    <% end %>
  </div>
  
  <%= link_to "New order", new_order_path %>
  <br>
  <br>
</div>
